Create a Pandas Series from a Python list, NumPy array, and dictionary

In [1]:
import pandas as pd
import numpy as np

# Create Series from different data types
list_series = pd.Series([10, 20, 30, 40])
numpy_series = pd.Series(np.array([1, 2, 3, 4]))
dict_series = pd.Series({'a': 100, 'b': 200, 'c': 300})

print("Series from List:\n", list_series)
print("\nSeries from NumPy Array:\n", numpy_series)
print("\nSeries from Dictionary:\n", dict_series)

Series from List:
 0    10
1    20
2    30
3    40
dtype: int64

Series from NumPy Array:
 0    1
1    2
2    3
3    4
dtype: int64

Series from Dictionary:
 a    100
b    200
c    300
dtype: int64

Assign a custom index to the Series

In [2]:
custom_index_series = pd.Series([5, 10, 15, 20], index=['A', 'B', 'C', 'D'])
print("\nSeries with Custom Index:\n", custom_index_series)

Series with Custom Index:
 A     5
B    10
C    15
D    20
dtype: int64

 Perform basic arithmetic operations on Series

In [3]:
series_a = pd.Series([1, 2, 3, 4])
series_b = pd.Series([10, 20, 30, 40])

sum_series = series_a + series_b
prod_series = series_a * series_b

print("\nSum of Series:\n", sum_series)
print("\nProduct of Series:\n", prod_series)

Sum of Series:
 0    11
1    22
2    33
3    44
dtype: int64

Product of Series:
 0     10
1     40
2     90
3    160
dtype: int64

Access elements using index labels and positions

In [4]:
print("\nElement at index 'B':", custom_index_series['B'])
print("\nElement at position 2:", custom_index_series.iloc[2])

Element at index 'B': 10

Element at position 2: 15

Filter the Series to include only values greater than a specific threshold

In [5]:
filtered_series = list_series[list_series > 20]
print("\nFiltered Series (values > 20):\n", filtered_series)

Filtered Series (values > 20):
 2    30
3    40
dtype: int64

Create a DataFrame from a dictionary of lists

In [6]:
data_dict = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}
df_from_dict = pd.DataFrame(data_dict)
print("\nDataFrame from Dictionary:\n", df_from_dict)

DataFrame from Dictionary:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

Create a DataFrame from a NumPy array, specifying column and index names
python
Copy code

In [7]:
array_data = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])
df_from_array = pd.DataFrame(array_data, columns=['Col1', 'Col2', 'Col3'], index=['Row1', 'Row2', 'Row3'])
print("\nDataFrame from NumPy Array:\n", df_from_array)

DataFrame from NumPy Array:
       Col1  Col2  Col3
Row1    10    20    30
Row2    40    50    60
Row3    70    80    90

 Load a DataFrame from a CSV file

In [8]:
# Uncomment the next line if you have a CSV file named 'data.csv'
# df_from_csv = pd.read_csv("data.csv")
# print("\nDataFrame loaded from CSV:\n", df_from_csv)

 Display the first and last five rows of the DataFrame

In [9]:
print("\nFirst Five Rows:\n", df_from_dict.head())
print("\nLast Five Rows:\n", df_from_dict.tail())

First Five Rows:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

Last Five Rows:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

Get a summary of the DataFrame including mean, median, and standard deviation of numeric columns

In [10]:
print("\nSummary Statistics:\n", df_from_dict.describe())

Summary Statistics:
         Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0

 Extract a specific column as a Series

In [11]:
age_series = df_from_dict['Age']
print("\nExtracted 'Age' Column:\n", age_series)

Extracted 'Age' Column:
 0    25
1    30
2    35
Name: Age, dtype: int64

 Filter rows based on column values

In [12]:
filtered_df = df_from_dict[df_from_dict['Salary'] > 55000]
print("\nFiltered DataFrame (Salary > 55000):\n", filtered_df)

Filtered DataFrame (Salary > 55000):
       Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000

Select rows based on multiple conditions

In [13]:
multi_condition_df = df_from_dict[(df_from_dict['Age'] > 25) & (df_from_dict['Salary'] < 70000)]
print("\nFiltered DataFrame (Age > 25 & Salary < 70000):\n", multi_condition_df)

Filtered DataFrame (Age > 25 & Salary < 70000):
   Name  Age  Salary
1  Bob   30   60000

Add a new column to the DataFrame

In [14]:
df_from_dict['Experience'] = [2, 5, 7]
print("\nDataFrame after Adding 'Experience' Column:\n", df_from_dict)

DataFrame after Adding 'Experience' Column:
       Name  Age  Salary  Experience
0    Alice   25   50000           2
1      Bob   30   60000           5
2  Charlie   35   70000           7

Delete a column from the DataFrame

In [15]:
df_from_dict.drop(columns=['Experience'], inplace=True)
print("\nDataFrame after Deleting 'Experience' Column:\n", df_from_dict)

DataFrame after Deleting 'Experience' Column:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

Rename columns in the DataFrame

In [16]:
df_from_dict.rename(columns={'Name': 'Employee Name', 'Age': 'Employee Age'}, inplace=True)
print("\nRenamed DataFrame Columns:\n", df_from_dict)

Renamed DataFrame Columns:
   Employee Name  Employee Age  Salary
0         Alice            25   50000
1           Bob            30   60000
2       Charlie            35   70000